<router-outlet />

<div class="container container-card">
  <mat-card class="weather-card" appearance="outlined">
    <mat-card-header class="card-header">
      <mat-card-title>
        {{ weather?.location?.name ?? "Your City" }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ weather?.location?.region ?? "Your state" }}
      </mat-card-subtitle>
    </mat-card-header>

    <div class="input-wrapper">
      <form  [formGroup]="weatherForm" (ngSubmit)="submitForm()" class="form">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Enter city/zip</mat-label>
          <input matInput name="zipCode" formControlName="zipCode"  type="text" />
        </mat-form-field>

        <button mat-raised-button type="submit" class="submit-btn" *ngIf="weatherForm.dirty">
          Submit
        </button>
      </form>
    </div>

    <div class="weather-display-wrapper" *ngIf="showData">
      <mat-spinner *ngIf="isLoading"></mat-spinner>

      <img
        *ngIf="!isLoading"
        mat-card-image
        class="card-weather-image"
        [src]="`https:${weather?.current?.condition?.icon}`"
      />
    </div>
    <div class="weather-condition-wrapper">
      <h3>{{ weather?.current?.condition?.text }}</h3>
    </div>
    <div class="temperature-wrapper">
      <h1 class="temperature-unit">
        {{ weather?.current?.temp_f ?? "0" }}°F /
        {{ weather?.current?.temp_c }}°C
      </h1>
    </div>

    <mat-card-content *ngIf="showData">
      <p class="text-content">humidity:</p>
      <span class="weather-details">{{ weather?.current?.humidity }}</span>

      <p class="text-content">wind:</p>
      <span class="weather-details">{{ weather?.current?.wind_mph }}mph</span>

      <p class="text-content">Precipitation:</p>
      <span class="weather-details">{{ weather?.current?.precip_in }}</span>
    </mat-card-content>
  </mat-card>
</div>
